.content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
}

.stars {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.card-body-stars {
  list-style-type: none;
}